body {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
    background-image:  linear-gradient(black, black, #3F3D3F);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

nav a:hover {
    left: 0;
}

.about {
    top: 20px;
    color: black;
    background-color: white;
}

.workers {
    top: 80px;
    background-image: linear-gradient(to right, darkred, brown);
}

.menu {
    top: 140px;
    background-image: linear-gradient(to right, black, #43433B);
}

p {
    font-size: 30px;
    margin-left: 120px;
    color: white;
}

li {
    font-size: 25px;
    margin-left: 80px;
    color: white;
}

ul {
    font-size: 35px;
    margin-left: 45px;
    color: red;
}

footer p {
    font-size: 30px;
    margin-left: 120px;
    color: darkslate;
}

header img {
    display: flex;
    position: relative;
    Left: 80%;
    width: 200px;
    height: 200px;
}

header img:hover {
    display: flex;
    position: relative;
    Left: 80%;
    width: 200px;
    height: 200px;
}

img {
    display: flex;
    position: relative;
}

img:hover {
    display: flex;
    position: relative;
    width: 350px;
    height: 450px;
    padding: 5px;
    transition: 0.5s ease-out;
}

iframe {
    display: flex;
    top: 10px;
    width: 700px;
    height: 400px;
}

.instagram {
    display: flex;
    position: relative;
    margin-left: 700px;
    width: 50px;
    height: 50px;
}

.instagram:hover {
    display: flex;
    position: relative;
    width: 70px;
    height: 70px;
    padding: 5px;
    transition: 0.5s ease-out;
}

.Set {
    display: flex;
    position: relative;
    width: 150px;
    height: 150px;
}

.Set:hover {
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    transition: 0.5s ease-out;
}
